/* Color Theme Swatches in Hex */
$color-theme_100-1-hex: #64718C;
$color-theme_100-2-hex: #8090A6;
$color-theme_100-3-hex: #C5D0D9;
$color-theme_100-4-hex: #F2E8E4;
$color-theme_100-5-hex: #F2D0D0;


header {
    .name {
        background-color: black;
    }

}
.main-container {
    min-height: 100vh; // this pushes the footer to the bottom and out of view until you scroll
}

.footer{

    .row{
        height: 10vh;
    }

}

