---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <main class="min-h-screen">
    <p>
      Hello, world! This is my Astro site. Visit the <a href="/blog">blog</a> to
      read my posts.
    </p>
  </main>
</MainLayout>
