---
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<MainLayout>
  <main>
    <h1 class="text-4xl font-semibold mb-4">Welcome to My Blog</h1>
    <p class="mb-8">
      Hi! I'm Omar Yasin, a software developer and tech enthusiast. This is my
      personal blog where I share my thoughts on programming, technology, and
      life.
    </p>
  </main>
  <section>
    <h2 class="font-semibold">Recent Posts</h2>
    {posts.slice(0, 3).map((post) => <PostCard post={post} />)}
  </section>
</MainLayout>
