---
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";
import { getRecentPosts } from "../utils/blogHelpers.ts";

const posts = await getRecentPosts();
---

<MainLayout>
  <main>
    <h1 class="text-4xl font-semibold mb-4">Welcome to My Blog</h1>
    <p class="mb-8">
      Hi! I'm Omar Yasin, a software developer and tech enthusiast. This is my
      personal blog where I share my thoughts on programming, technology, and
      life.
    </p>
  </main>
  <section>
    <h2 class="font-semibold">Recent Posts</h2>
    {posts.map((post) => <PostCard post={post} withImage={false} />)}
  </section>
</MainLayout>
