---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header class="p-8 mb-16">
  <nav class="grid grid-cols-2 items-center gap-8">
    <div class="-rotate-2">
      <a
        href="/"
        class="no-underline font-semibold text-3xl tracking-widest
      bg-black text-white px-2"
        >{SITE_TITLE}</a
      >
    </div>
    <div class="internal-links flex gap-8 justify-end">
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
  </nav>
</header>

<!-- <style>
  h2 a,
  h2 a.active {
    text-decoration: none;
  }

  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style> -->
