---

---

<header>
  <nav
    class="flex items-center justify-between mx-auto px-8 py-8 mb-4 sm:mb-12"
  >
    <a
      href="/"
      class="bg-black text-white px-2 text-5xl font-semibold tracking-tighter -rotate-2"
      >Yasin</a
    >
    <div class="flex items-center gap-4 text-sm text-gray-700">
      <button onclick="location.href='/'" class="cursor-pointer"> Home </button>
      <button onclick="location.href='/blog'" class="cursor-pointer">
        Blog
      </button>
      <button onclick="location.href='/about'" class="cursor-pointer">
        About
      </button>
    </div>
    <!-- <button
      onclick="history.back()"
      class="flex items-center gap-2 text-sm no-underline cursor-pointer bg-transparent rounded p-2 border border-gray-900"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"></path>
      </svg>
      Go Back
    </button> -->
  </nav>
</header>
