<h1>Hello</h1>
<blockquote>
  &quot;After all,&quot; he said, &quot;everyone enjoys a good joke, so
  it&apos;s only fair that they should pay for the privilege.&quot;
</blockquote>

<p>
  The king, seeing how much happier his subjects were, realized the error of his
  ways and repealed the joke tax.
</p>

<code> @radix-ui/react-alert-dialog </code>
